## Dataset de Opiniones

### Limpieza inicial

## Carga de datos

In [1]:
import pandas as pd

df_opiniones = pd.read_csv('../Dataset/datos_opiniones.csv')

In [2]:
df_opiniones

,opinion_id,usuario_id,negocio_id,puntuacion,util,divertido,guay,texto,fecha
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6.0,1.0,0.0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0.0,0.0,0.0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3.0,0.0,0.0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0.0,0.0,0.0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7.0,0.0,0.0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38
...,...,...,...,...,...,...,...,...,...
6685897,0pCaq1hqAViS2N6ldlp_sQ,Xu_YazIajfsc7SRj1wJ6Mg,RXBFk3tVBxiTf3uOt9KExQ,5.0,1.0,0.0,0.0,I have been coming here for years and this pla...,2018-07-03 12:17:27
6685898,jPCXuSBbI_cPocgoNBhdkg,V6BjjQICDO4q7TT3ZhaPWw,yA6dKNm_zl1ucZCnwW8ZCg,1.0,13.0,11.0,5.0,I think this owner and the owner of Amy's Baki...,2013-05-22 15:32:08
6685899,zwzO3yPdGbdgGy3-XQ0SWg,PFiIECX8wuvi7P-1mCvIjA,a192hdM0_UVCYLwPJv1Qwg,5.0,0.0,0.0,0.0,"Off the grid Mexican in Vegas. Very tasty, qua...",2018-11-13 21:15:20
6685900,o8Nc2BJhKJXM6tRHJDRuPA,wu5R5_N7q5iqCBh6NBX26Q,kOo4ZY2UQAX4j312mzQ8mA,5.0,1.0,1.0,1.0,We hired Taco Naco to cater our family party a...,2018-08-13 18:09:16
6685901,OKmOLFwtI-NjofTHAGzv1Q,Ej3mCvjcwVXCSPB_avIfjQ,PkqN5st3zZ_Xce_5QlBtNQ,3.0,2.0,0.0,0.0,Having just come back from Hawaii a few months...,2018-11-12 20:25:32

### BÃºsqueda de valores nulos

In [3]:
print("Â¿Hay valores nulos?\n", pd.isnull(df_opiniones).any(), "\n")
print("Â¿Cuantos?\n", pd.isnull(df_opiniones).sum(), "\n")

Â¿Hay valores nulos?
 opinion_id    False
usuario_id    False
negocio_id     True
puntuacion     True
util           True
divertido      True
guay           True
texto          True
fecha          True
dtype: bool

Â¿Cuantos?
 opinion_id    0
usuario_id    0
negocio_id    2
puntuacion    2
util          2
divertido     2
guay          2
texto         4
fecha         4
dtype: int64

In [4]:
import numpy as np

# Buscamos las filas en las que hay nulos para comprobar la anomalÃ­a y encontrar explicaciones
filas, _ = np.where(df_opiniones.isnull().values == True)

# Nos quedamos en la lista con las filas que no estan repetidas.
filas = list(dict.fromkeys(filas))

for fila in filas:
    print(str(df_opiniones.iloc[fila]) + "\n")

opinion_id                               OSdqcxyXqM-XTEgajJNUmw
usuario_id                               QRn8ELZmvP8S4evnSRU9bQ
negocio_id                               eO0Dsp8MBjUT16lno8gkmA
puntuacion                                                    5
util                                                          0
divertido                                                     0
guay                                                          0
texto         Working with Tina and Marcia has been such a p...
fecha                                                       NaN
Name: 2823429, dtype: object

opinion_id    My husband and I had not purchased a home befo...
usuario_id                                  2017-02-22 01:24:23
negocio_id                                                  NaN
puntuacion                                                  NaN
util                                                        NaN
divertido                                                   NaN
guay                                                        NaN
texto                                                       NaN
fecha                                                       NaN
Name: 2823430, dtype: object

opinion_id    hpY467Acucmh3tCmEYGiDw
usuario_id    pUKAjAaSMkxiJ1WCIFSsBQ
negocio_id    I7XWtKL1oHohZCtCCyQIog
puntuacion                         1
util                               7
divertido                          2
guay                               1
texto                            NaN
fecha            2014-11-15 21:14:34
Name: 3427824, dtype: object

opinion_id                               lyNSICzFzDPHXL_E6PHvWw
usuario_id                               aZs_IrhA7rvuLBumVhJjCw
negocio_id                               uWECX6-Uq9n8v5ipk9R29A
puntuacion                                                    5
util                                                          1
divertido                                                     0
guay                                                          1
texto         Best Creole/Cajun food in Nevada! Order the  B...
fecha                                                       NaN
Name: 3962506, dtype: object

opinion_id    All the goodness of the deep South! Seasoned a...
usuario_id                                  2014-06-10 22:31:23
negocio_id                                                  NaN
puntuacion                                                  NaN
util                                                        NaN
divertido                                                   NaN
guay                                                        NaN
texto                                                       NaN
fecha                                                       NaN
Name: 3962507, dtype: object

opinion_id    iHdxK8lwkYn0rlNh-REuGQ
usuario_id    v3DIq18Z30KNwyUvBXtXEA
negocio_id    oXoVJ0xKv82cBo9U6oEjlQ
puntuacion                         3
util                               0
divertido                          0
guay                               0
texto                            NaN
fecha            2014-12-26 08:32:06
Name: 6334068, dtype: object

DespuÃ©s de imprimir las filas incorrectas, se pueden hacer varias observaciones:

- **Dos opiniones sin fecha.** Realmente, no se nos ocurre cuÃ¡l puede ser el motivo por el que haya opiniones sin fecha. De todos modos, no es algo determinante en el anÃ¡lisis de datos, asÃ­ que lo que vamos a hacer es **eliminar directamente las filas**. PodrÃ­amos cambiar su valor NaN a un valor controlado pero tendrÃ­amos problemas a la hora de cambiar el formato de las fechas.


- **Dos opiniones con casi todo NaN y valores incorrectos.** Se puede decir que estas son las opiniones mÃ¡s extraÃ±as de todas: el texto de la opinion aparece en opinion_ID y la fecha en usuario_ID. Esto puede deberse a que hay usuarios que no han rellenado correctamente algunos formularios y **no existe el suficiente control en el sistema a la hora de hacer inserciones en la base de datos**. Debido a que son completamente incorrectas, deberÃ­amos eliminar estas instancias por completo.


- **Dos opiniones con texto en NaN.** Aunque carecemos de informaciÃ³n suficiente, podrÃ­a ser que el motivo por el que no hay texto en algunas opiniones fuera porque es un campo opcional. En ese caso, lo Ãºnico que vamos a hacer es sustituir el valor NaN por: **"SinTexto"**

In [5]:
# Rellenamos valores nulos y NaN con un valor especÃ­fico y controlado
df_opiniones['texto'] = df_opiniones['texto'].fillna("SinTexto")

In [6]:
import numpy as np

# Buscamos las filas en las que hay nulos para comprobar la anomalÃ­a y encontrar explicaciones
filas, _ = np.where(df_opiniones.isnull().values == True)

# Nos quedamos en la lista con las filas que no estan repetidas.
filas = list(dict.fromkeys(filas))

for fila in filas:
    df_opiniones = df_opiniones.drop(fila, axis=0)

Al hacer la limpieza anterior, nos hemos dado cuenta de que hay ID que son incorrectas. Sin embargo, nos hemos percatado de esto debido a que habÃ­a valores NaN en esas mismas instancias. Para comprobar que todos los ID tienen el formato correcto, vamos a hacer unas comprobaciones:

#### ComprobaciÃ³n sintÃ¡ctica de opinion_id

In [7]:
import re
# Expresion regular que indica el formato de los ID
pattern = re.compile("[A-Za-z0-9-_]{22}")

def preprocesa(x):
    if(pattern.match(x) == None):
        print("opinion_id not matching: " + str(x) + "\n")
        return True
    return False

print("Numero de opinion_id incorrectas:" + str(df_opiniones['opinion_id'].apply(lambda x: preprocesa(x)).sum()))

Numero de opinion_id incorrectas:0

#### ComprobaciÃ³n sintÃ¡ctica de negocio_id

In [8]:
import re
# Expresion regular que indica el formato de los ID
pattern = re.compile("[A-Za-z0-9-_]{22}")

def preprocesa(x):
    if not isinstance(x, str):
        print(x)
    if(pattern.match(x) == None):
        print("negocio_id not matching: " + str(x) + "\n")
        return True
    return False

# Aplicamos la funcion preprocesa a todas las filas del dataframe y sumamos los valores positivos.
print("Numero de negocio_id incorrectas:" + str(df_opiniones['negocio_id'].apply(lambda x: preprocesa(x)).sum()))

Numero de negocio_id incorrectas:0

#### ComprobaciÃ³n sintÃ¡ctica de usuario_id

In [9]:
import re
# Expresion regular que indica el formato de los ID
pattern = re.compile("[A-Za-z0-9-_]{22}")

def preprocesa(x):
    if not isinstance(x, str):
        print(x)
    if(pattern.match(x) == None):
        print("usuario_id not matching: " + str(x) + "\n")
        return True
    return False

# Aplicamos la funcion preprocesa a todas las filas del dataframe y sumamos los valores positivos.
print("Numero de usuario_id incorrectas:" + str(df_opiniones['usuario_id'].apply(lambda x: preprocesa(x)).sum()))

Numero de usuario_id incorrectas:0

Como se puede comprobar, no hay ningÃºn ID incorrecto despuÃ©s de haber hecho la limpieza de los valores nulos o NaN.

### ComprobaciÃ³n sintÃ¡ctica de la fecha

In [10]:
import re
pattern = re.compile("[0-9][0-9][0-9][0-9][-][0-1][0-9][-][0-3][0-9]\s[0-2][0-9][:][0-5][0-9][:][0-5][0-9]")

def preprocesa(x):
    if(pattern.match(x) == None):
        print("date not matching: " + str(x))
        return True
    return False

print("Numero de fechas incorrectas: " + str(df_opiniones['fecha'].apply(lambda x: preprocesa(x)).sum()))

Numero de fechas incorrectas: 0

Todas las fechas son correctas exceptuando las dos que hemos cambiado nosotros a mano por el valor "SinFecha".

### TransformaciÃ³n inicial de la fecha

In [11]:
# Dividimos la fecha en aÃ±o, mes , dia, hora y minuto
df_opiniones['anyo'] = pd.DatetimeIndex(df_opiniones['fecha']).year
df_opiniones['mes'] = pd.DatetimeIndex(df_opiniones['fecha']).month
df_opiniones['dia'] = pd.DatetimeIndex(df_opiniones['fecha']).day
df_opiniones['hora'] = pd.DatetimeIndex(df_opiniones['fecha']).hour

# Eliminamos el atributo fecha
df_opiniones = df_opiniones.drop("fecha", axis=1)
df_opiniones

,opinion_id,usuario_id,negocio_id,puntuacion,util,divertido,guay,texto,anyo,mes,dia,hora
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6.0,1.0,0.0,Total bill for this horrible service? Over $8G...,2013,5,7,4
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0.0,0.0,0.0,I *adore* Travis at the Hard Rock's new Kelly ...,2017,1,14,21
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3.0,0.0,0.0,I have to say that this office really has it t...,2016,11,9,20
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0.0,0.0,0.0,Went in for a lunch. Steak sandwich was delici...,2018,1,9,20
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7.0,0.0,0.0,Today was my second out of three sessions I ha...,2018,1,30,23
...,...,...,...,...,...,...,...,...,...,...,...,...
6685897,0pCaq1hqAViS2N6ldlp_sQ,Xu_YazIajfsc7SRj1wJ6Mg,RXBFk3tVBxiTf3uOt9KExQ,5.0,1.0,0.0,0.0,I have been coming here for years and this pla...,2018,7,3,12
6685898,jPCXuSBbI_cPocgoNBhdkg,V6BjjQICDO4q7TT3ZhaPWw,yA6dKNm_zl1ucZCnwW8ZCg,1.0,13.0,11.0,5.0,I think this owner and the owner of Amy's Baki...,2013,5,22,15
6685899,zwzO3yPdGbdgGy3-XQ0SWg,PFiIECX8wuvi7P-1mCvIjA,a192hdM0_UVCYLwPJv1Qwg,5.0,0.0,0.0,0.0,"Off the grid Mexican in Vegas. Very tasty, qua...",2018,11,13,21
6685900,o8Nc2BJhKJXM6tRHJDRuPA,wu5R5_N7q5iqCBh6NBX26Q,kOo4ZY2UQAX4j312mzQ8mA,5.0,1.0,1.0,1.0,We hired Taco Naco to cater our family party a...,2018,8,13,18
6685901,OKmOLFwtI-NjofTHAGzv1Q,Ej3mCvjcwVXCSPB_avIfjQ,PkqN5st3zZ_Xce_5QlBtNQ,3.0,2.0,0.0,0.0,Having just come back from Hawaii a few months...,2018,11,12,20

### ComprobaciÃ³n de distribuciÃ³n de valores

Vamos a hacer un describe con el objetivo de encontrar valores que puedan ser incorrectos. En la secciÃ³n de anÃ¡lisis haremos un anÃ¡lisis mÃ¡s exhaustivo.

In [12]:
# Lo ponemos de esta forma para quitar la notaciÃ³n cientÃ­fica
df_opiniones.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))

,puntuacion,util,divertido,guay,anyo,mes,dia,hora
count,6.6859e+06,6.6859e+06,6.6859e+06,6.6859e+06,6.6859e+06,6.6859e+06,6.6859e+06,6.6859e+06
mean,3.7162,1.35413,0.482767,0.578771,2015.13,6.45092,15.7355,12.3688
std,1.46364,3.70019,2.37865,2.35902,2.45435,3.31909,8.8068,8.08596
min,1,-1,0,-1,2004,1,1,0
25%,3,0,0,0,2014,4,8,4
50%,4,0,0,0,2016,7,16,15
75%,5,2,0,1,2017,9,23,20
max,5,1241,1290,506,2018,12,31,23

Como se puede observar en el describe, tanto la columna "util" como la columna "guay" tienen como valor mÃ­nimo el -1. Esto podrÃ­a no ser un error en caso de que se pudiera votar negativamente algunas opiniones. Para comprobar si eso es asÃ­, vamos a obtener cuÃ¡ntas filas tienen esas columnas a -1.

In [13]:
import numpy as np

# Buscamos las filas en las que hay nulos para comprobar la anomalÃ­a y encontrar explicaciones
filas, _ = np.where(df_opiniones[df_opiniones["util"] == -1].values == True)

utilIncorrecto = df_opiniones[df_opiniones["util"] == -1].opinion_id.values[0]
print("ID de la fila con util incorrecto: " + str(utilIncorrecto))
guayIncorrecto = df_opiniones[df_opiniones["guay"] == -1].opinion_id.values[0]
print("ID de la fila con guay incorrecto: " + str(guayIncorrecto))

ID de la fila con util incorrecto: hx5oI9l2xXwZMqyoiMXbeg
ID de la fila con guay incorrecto: hx5oI9l2xXwZMqyoiMXbeg

Como se puede comprobar, solo hay una fila con esos valores negativos por lo que podemos deducir que fue un error del sistema. Como no es algo generalizado, vamos a optar por eliminar esa fila.

In [14]:
df_opiniones = df_opiniones[df_opiniones["opinion_id"] != "hx5oI9l2xXwZMqyoiMXbeg"]

In [ ]:
df_opiniones.to_csv("../Dataset/datos_opiniones_limpio.csv", index=False)